header{
    padding: 15px 0;
    .header{
        display: flex;
        align-items: center;
        .header__logo{
            width: 30%;
        }
        .header__menu{
            ul{
                display: flex;
                gap: 32px;
                align-items: center;
            }
            a{
                color: #fff;
            }
        }
    }
}
