.main-section{
    background: url('../img/main/main-bgc.jpg') no-repeat;
    background-size: cover;
}
    .main{
        &-container{
            position: relative;
            height: 87vh;
        }
        &__body{
            position: absolute;
            bottom: 0;
            left:50%;
            transform:translate(-50%, -50%);
            width: 50%;
            text-align: center;
            &-subtitle{
                letter-spacing: 2px;
                text-transform: uppercase;
                opacity: 0.6;
            }
            &-title{
                font-size: 54px;
                line-height: 59px;
            }
            &-text{
               margin: 18px 0 0 0;
               opacity: 0.6;
            }
        }
    
    }

    @media(max-width: 768px) {
       .main{
            &__body{
                &-title{
                    font-size: 40px;
                    line-height: 40px;
                }
            }
       }
    }
    @media(max-width: 420px) {
        .main{
            &__body{
                &-subtitle{
                   font-size: 12px;
                }
                &-title{
                    font-size: 28px;
                    line-height: 30px;
                }
                &-text{
                   font-size: 12px;
                 }
            }
       }
    }
