.specialized-section{
    padding: 120px 0;
}
    .specialized{
        &-header{
            text-align: center;
        }
        &-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            margin: 40px 0 0 0;
            .item1{
                background: url('../img/specialized/fon1.jpg') no-repeat;
            }
            .item2{
                background: url('../img/specialized/fon2.jpg') no-repeat;
                height: auto;
            }
            .item3{
                background: url('../img/specialized/fon3.jpg') no-repeat;
                height: auto;
            }
            .item4{
                background: url('../img/specialized/fon4.jpg') no-repeat;
                height: auto;
            }
        }
        &-item{
            display: flex;
            justify-content: center;
           
            width: 45%;
            height: 600px;
            &__body{
              width: 576px;
              display: flex;
              flex-direction: column;
              justify-content: end;
              padding: 30px;
            }
            &__title{
                letter-spacing: 2px;
                text-transform: uppercase;
              }
              &__text{
                margin: 15px 0 0 0;
                opacity: 0.6;
              }
        }
    }

@media(max-width: 992px) {
    .specialized{
        &-item{
            width: 100%;
            display: flex;
        }
    }
}
@media(max-width: 420px) {
    .specialized-section{
      padding: 50px 0;
    }
    .specialized{
        &-item{
            &__title{
               font-size: 13px;
              }
              &__text{
                font-size: 12px;
              }
        }
    }
}