.tool{
    position: relative;
    height: 600px;
    display: flex;
    justify-content: end;
    &__body{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10% 0 0;
        &__title{
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &__text{
            line-height: 20px;
            opacity: 0.6;
        }
    }
}
.mount{
    background: url('/src/img/tool/mount.jpg') no-repeat;
    background-size: cover;
}
.tool-main{
    display: flex;
    &-content{
        width: 50%;
        display: flex;
        justify-content: center;
    }
        &__body{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;  
            &-subtitle{
                letter-spacing: 2px;
                text-transform: uppercase;  
                opacity: 0.6;
            }
            &-title{
                margin: 6px 0 0 0;
                font-size: 28px;
                line-height: 32px;
            }
            &-text{
                margin: 14px 0 0 0;
                line-height: 20px;
            }
            &-button{
                margin: 20px 0 0 0;
            }
        }
   
    
    &__img{
        width: 50%;
        background: url('/src/img/tool/toolMain.jpg') no-repeat;
        background-size: cover;
    }
}
.monstera{
    background: url('/src/img/tool/Monstera.jpg') no-repeat;
    background-size: cover;
}
.pastClients{
    padding: 120px 0;
    &-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__body{
        margin: 80px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.himalayas{
    background: url('/src/img/tool/Himalayas.jpg') no-repeat;
    background-size: cover;
}
.needHelp{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 108px 0;
    text-align: center;
}
@media(max-width: 992px) {
    .tool-main{
        display: flex;
        flex-wrap: wrap;
        &-content{
            width: 100%;
        }
        &__img{
            width: 100%;
        }
    }
    .tool{
        &__body{
            width: 30%;
        }
    }
    .pastClients{
        &__body{
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 30px;
            &-item{
               width: 25%;
            }
        }
    }
}
@media(max-width: 768px) {
    .needHelp{
        padding: 50px 0;
    }
    .tool{
        justify-content: center;
        &__body{
            width: 70%;
            margin: 0;
        }
    }
    .item__footer{
        flex-wrap: wrap;
        right: 0%;
    }
}
@media(max-width: 420px) {
    .tool-main{
        &__body{
            &-subtitle{
               font-size: 12px;
            }
            &-title{
                font-size: 20px;
            }
            &-text{
                font-size: 12px;
        
            }
        }
    }
    
    .tool{
        justify-content: center;
        &__body{
            width: 70%;
            margin: 0;
        }
    }
    .pastClients{
        &__body{
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 30px;
            &-item{
               width: 40%;
            }
        }
    }
   
}